@import "./../global_vars.scss";

nav {
  background-color: $background;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 1em;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  .logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5em;

    font-size: 1.5em;
  }

  .search-bar {
    flex-grow: 1;
    background-color: #444;
    border-radius: 30px;
    padding: 0.5em 1em;
    margin: 0 1em;
    display: flex;
    align-items: center;
    height: 60px;
    box-sizing: border-box;

    input[type=text] {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 1em;
      flex-grow: 1;
      height: 100%;
    }
  }

  .user-menu {
    background-color: #5555;
    padding: 1em;
    border-radius: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 0.5em;
    box-sizing: border-box;
  }
}